.audio_tag {
  display: inline-block;
  font-family: Bender-Bold;
  font-size: 0.2rem;
  padding: 0.04rem 0.08rem;
  border: 1px solid #fff;
  border-color: inherit;
  color: inherit;
}

.alink {
  &:hover {
    opacity: 0.8;
  }

  cursor: pointer;
}
