---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{ title: '我的自定义页面' }}>
  <p>这是一个有自定义组件的自定义页面：</p>
  <!-- <CustomComponent /> -->
</StarlightPage>
