.input {
  box-sizing: border-box;
  height: 1rem;
  max-height: 100%;
  width: 100%;
  padding: 2px;
  color: #a2a6ae;
  border: none;
  border-radius: 26px;
  background-image: linear-gradient(#000, #000),
    linear-gradient(#010101, #242324);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.inner {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.1rem 0.4rem;
  border: none;
  font-size: 0.3rem;
  letter-spacing: 0.01992rem;
  line-height: 1.2;
  color: #a2a6ae;
  caret-color: #a2a6ae;
  background-color: transparent;
  outline: 0;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.17rem 0.4rem;
  border: none;
  background: transparent;
  font-family: 'NovecentoSansWide-Normal', 'SourceHanSansCN-Regular';
  font-size: 0.28rem;
  letter-spacing: 0.01992rem;
  line-height: 1.2;
  text-align: left;
  text-align: initial;
  color: #56565d;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}