.silver_button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.1rem;
  height: 1rem;
  padding: 0 0.36rem;
  border: none;
  outline: none;
  background-color: transparent;
  user-select: none;
}
