.button {
  position: relative;
  width: 2.2222rem;
  height: .9rem;
  font-size: 0.34rem;
  padding-left: .3rem;
  padding-right: .3rem;
  border: 1px solid #a2a6ae;
  font-family: "SourceHanSansCN-Bold", "Microsoft Yahei", sans-serif;
  color: #cacdd4;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  background-color: transparent;
  transition: background-color 0.3s;
  outline: 0;

  &::before,
  &::after {
    position: absolute;
    left: -4px;
    height: .08rem;
    width: calc(100% + .1rem);
    background-image: linear-gradient(90deg,
        #aeb3be 0,
        #aeb3be .08rem,
        transparent 0,
        transparent calc(100% - .08rem),
        #aeb3be calc(100% - .08rem),
        #aeb3be);
  }

  &::before {
    top: -4px;
  }

  &::after {
    bottom: -4px;
  }
}

.button_disabled {
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

.button_decorate {

  &::before,
  &::after {
    content: "";
  }
}

.button--primary {
  border: none;
  background-color: rgba(174, 179, 190, 0.1);

  &:hover {
    background-color: rgba(174, 179, 190, 0.2);
  }

  &::before,
  &::after {
    left: -3px;
    height: .08rem;
    width: calc(100% + .1rem);
    background-image: linear-gradient(90deg,
        #aeb3be 0,
        #aeb3be .08rem,
        transparent 0,
        transparent calc(100% - .08rem),
        #aeb3be calc(100% - .08rem),
        #aeb3be);
  }

  &::before {
    top: -2px;
  }

  &::after {
    bottom: -2px;
  }
}

.button--large {
  width: 2.8rem;
  height: 1.2222rem;
  font-size: 0.38rem;
}

.button--medium {
  width: 2.2rem;
  height: .9rem;
  font-size: 0.34rem;
}

.button--small {
  width: 1.6rem;
  height: .6rem;
  font-size: 0.26rem;
}