.white_zebra_scrollbar_thumb-vertical {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  background-image: linear-gradient(45deg, transparent, transparent 40%, #ccc 0, #ccc 60%, transparent 0, transparent);
  background-repeat: repeat;
  background-size: 0.3750rem 0.3750rem;
  transform: none !important;
}