.white_scroll_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.white_zebra_scrollbar_track-vertical {
  position: absolute;
  width: 0.12rem;
  right: 0;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    transparent,
    transparent 40%,
    hsla(0, 0%, 58%, 0.5) 0,
    hsla(0, 0%, 58%, 0.5) 60%,
    transparent 0,
    transparent
  );
  background-repeat: repeat;
  background-size: 0.12rem 0.12rem;
}

.white_zebra_scrollbar_thumb-vertical {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.12rem;
  background-image: linear-gradient(
    45deg,
    transparent,
    transparent 40%,
    #ccc 0,
    #ccc 60%,
    transparent 0,
    transparent
  );
  background-repeat: repeat;
  background-size: 0.12rem 0.12rem;
  transform: none !important;
}

.scroll_view {
  width: 100%;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  scrollbar-width: none;
  padding-right: 0.4rem;
  box-sizing: border-box;
}
