.slider {
  cursor: inherit !important;
}

.vertical {
  width: 2px !important;
}

.horizontal {
  height: 2px !important;
}

.track {
  background-color: #fff !important;
  border-color: #fff !important;
}

.rail {
  background-color: #86898c !important;
}

.thumb {
  background-color: #fff !important;
  box-shadow: none !important;
  width: 0.2rem !important;
  height: 0.2rem !important;
}
