.vertical {
  width: 2px;
}

.horizontal {
  height: 2px;
}

.track {
  background-color: #fff;
}

.rail {
  background-color: #2d2e2f;
}

.thumb {
  background-color: #fff;
  box-shadow: none !important;
  width: 9px;
  height: 9px;
}