/* global rewrite siren root styles */

/* background instead */
#layout.background__instead {
  background-image: none;
  background-color: #000;

  /* first route container div */
  &>div:first-child {

    /* second page div */
    &>div {
      background-color: transparent;
      background-image: none;

      /* clear some div with self bg */
      &>div[class^="background"],
      &>div[class*="albumSelect"] {
        background-color: transparent;
        background-image: none;
      }

      /* speical for album */
      &>div[class^="albumSelect"] {
        backdrop-filter: blur(5px);
      }
    }

    /* speical for musicPlayPage */
    &>div[class^="musicPlayPage"] {
      backdrop-filter: blur(8px);
    }
  }
}