.sidebar_buttons {
  position: absolute;
  width: 1.7rem;
  height: 100%;
  background: #121212;
  transition: transform 0.5s;
}

.sidebar_main {
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(99, 99, 99, 0.1),
    rgba(99, 99, 99, 0.1) 1px,
    transparent 0,
    transparent
  );
  background-size:
    6px 100%,
    contain,
    contain;
  background-repeat: repeat-x, no-repeat, no-repeat;
  background-position: 0, 50%, 50%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition:
    transform 0.5s,
    opacity 0.5s;
  font-family: 'Microsoft Yahei', sans-serif;
}

.sidebar_cover {
  z-index: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: #000; */
  opacity: 0;
  transition: opacity 0.5s;
}
