.playlist {
  z-index: 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 3rem 2rem 2.4rem 2.5rem;
  box-sizing: border-box;
  font-size: .6rem;
  opacity: 0;
  animation: hideAnime .6s;
}

.playlistShow {
  z-index: 1;
  opacity: 1;
  animation: showAnime .6s;
}

@keyframes showAnime {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideAnime {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}