.checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    .checkbox__check {
      border: 0.04rem solid #ccc;
    }
  }
}

.checkbox__check {
  box-sizing: border-box;
  border: 0.04rem solid hsla(0, 0%, 76%, 0.5);
  background: transparent;
  width: 0.32rem;
  height: 0.32rem;
  transition: all 0.3s ease;

  &.selected {
    background: #d6d6d6;
    border: 0.04rem solid inherit !important;
  }
}

.checkbox__content {
  color: inherit;
  font-size: .34rem;
  user-select: none;
}

.checkboxTheme--config {
  width: 0.6rem;
  height: 0.14rem;
}

.checkboxTheme--normal {
  width: 0.32rem;
  margin-right: 0.2rem;
}