.single_item {
  display: flex;
  align-items: center;
  height: 0.84rem;
  padding: 0.1rem 0.3rem;
  font-size: 0.36rem;
  font-weight: 700;
  gap: 0.2rem;
  user-select: none;
  transition:
    background-color 0.2s,
    transform 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active {
    transform: scale(0.99);
  }
}

.tags {
  width: 14%;
  height: 0.4rem;
  display: flex;
  flex-flow: row wrap;
  gap: 0.1rem;
  color: #ccc;
  border-color: #ccc;
  overflow: hidden;
}
