.single_item {
  display: flex;
  align-items: center;
  width: 100%;
  height: .84rem;
  padding: 0.1rem 0.3rem;
  font-size: 0.36rem;
  font-weight: 700;
  gap: 0.2rem;
  user-select: none;
  transition: background-color 0.2s, transform 0.2s;

  &:hover {
    transform: scale(0.99);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.tags {
  width: 14%;
  height: .4rem;
  display: flex;
  flex-flow: row wrap;
  gap: 0.1rem;
  color: #ccc;
  border-color: #ccc;
  overflow: hidden;
}