.dialog {
  width: 10.3125rem;
  padding: 0.5555rem 0;
  font-size: 0.4889rem;
  font-family: "SourceHanSansCN-Bold", "Microsoft Yahei", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #a2a6ae;
  background-color: #161617;
  background-image: url(@/assets/images/bg_modal.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  pointer-events: auto;
  border-radius: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: -0.1333rem;
    height: 0.2666rem;
    width: calc(100% + 0.2666rem);
    background-image: linear-gradient(90deg,
        #aeb3be 0,
        #aeb3be 0.2666rem,
        transparent 0,
        transparent calc(100% - 0.2666rem),
        #aeb3be calc(100% - 0.2666rem),
        #aeb3be);
  }

  &::before {
    top: -0.1333rem;
  }

  &::after {
    bottom: -0.1333rem;
  }
}

.dialog__paper {
  max-width: 24rem !important;
  max-height: 18rem !important;
  overflow: unset !important;
}

.dialog__bg {
  backdrop-filter: blur(3px);
}

.dialog__title {
  position: relative;
  margin: 0.6666rem 0;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.2666rem;
    height: 2px;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(90deg, #131313, #292a2b 50%, #2e2f31);
  }

  &::after {
    right: 0;
    background-image: linear-gradient(270deg, #010101, #292a2b 50%, #242324);
  }
}

.dialog__title__inner {
  position: relative;
  font-size: 0.5333rem;
  color: #a2a6ae;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.dialog__body {
  margin: .8rem .55rem;
  font-weight: 400;
}