.list_item {
  justify-content: start;
  width: 100%;
  contain-intrinsic-height: 3.7500rem;
  padding: 0.14rem 0.3rem;
  user-select: none;
  box-sizing: border-box;
}

.item_description {
  width: calc(100% - 0.20rem);
  padding: 0 0.3rem;
  box-sizing: border-box;

  .title {
    font-size: 0.3rem;
    font-weight: 700;
    margin-bottom: 0.08rem;
  }

  .description {
    opacity: .8;
    font-size: 0.22rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.img {
  width: .5rem;
  height: .5rem;
  font-size: .54rem;
}