.list_item {
  justify-content: start;
  width: 100%;
  contain-intrinsic-height: 3.75rem;
  padding: 0.14rem;
  user-select: none;
  box-sizing: border-box;

  &::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 3px;
    height: 100%;
    box-shadow: 0 0 6px #fff;
  }

  &.active::before {
    content: '';
  }
}

.item_description {
  width: calc(100% - 0.45rem) !important;
  padding: 0 0.3rem 0 0.15rem;
  box-sizing: border-box;

  .title {
    font-size: 0.3rem;
    font-weight: 700;
    margin-bottom: 0.08rem;
  }

  .description {
    opacity: 0.8;
    font-size: 0.22rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.6rem !important;
}
