@import url(./styles/rewrite.scss);
@tailwind components;
@tailwind utilities;

:root {
  color: #fff;
  font-family: "SourceHanSerifCN-Regular", "Microsoft Yahei", sans-serif;
}

#root {
  transition: filter 0.5s;
}

#inject-app {
  @font-face {
    font-family: "SourceHanSansCN-Bold";
    src: url(@/assets/fonts/SourceHanSansCN-Bold.otf);
  }

  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "SourceHanSansCN-Bold",
  "Microsoft Yahei",
  sans-serif;
}

// make css level lower
.inject_app_class_namespace * {
  box-sizing: border-box;
}

.activeSelect {
  position: relative;
}

.activeSelect::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  width: 3px;
  height: 100%;
  box-shadow: 0 0 6px #fff;
}

.scrollbar__hidden {

  /* webkit */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* firefox */
  scrollbar-width: none;

  /* ie */
  -ms-overflow-style: none;
}