.playlist {
  position: absolute;
  top: 50%;
  right: 0;
  height: 16rem;
  width: 7.5rem;
  background-color: rgba(22, 22, 22, 0.8);
  transition: transform 0.5s;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: -0.12rem;
    width: calc(100% + 0.24rem);
    height: 0.24rem;
    background-image: linear-gradient(#ccc, #ccc), linear-gradient(#ccc, #ccc);
    background-size:
      0.24rem 100%,
      0.24rem 100%;
    background-position: 0, 100%;
    background-repeat: no-repeat, no-repeat;
  }

  &::before {
    top: -0.12rem;
  }

  &::after {
    bottom: -0.12rem;
  }
}
