.titlebar_wrapper {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0.9rem;
}

.sidebar_wrapper {
  position: fixed;
  top: 0.9rem;
  left: 0;
  height: calc(100% - 0.9rem);
}

.left_control {
  display: flex;
}

.iconfont {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.3rem !important;
  color: #fff;
  mix-blend-mode: exclusion;
  filter: drop-shadow(0 0 1.5px #000);
  opacity: 0.8;
  transition:
    filter 0.3s,
    opacity 0.3s;

  &:hover {
    filter: drop-shadow(0 0 2.5px #000);
    opacity: 1;
  }
}